<h1> Classifying news articles as business or political, based on their title </h1>

<h3> The goal of this notebook is to explore how one could use Tf-Idf and/or cosine similarity to classify news articles as business or political articles.</h3>

<p> The Notebook is structured in the following manner: </p>
<ol>
<li> Data Cleaning </li> 
<li> Data Analysis </li> 
<li> Model Building </li> 
<li> Model Experiments </li> 
</ol>

<h1 style="text-align:center"> Data cleaning </h1>

<p>Before we begin, we have to import all of our needed libraries. </p>

In [245]:
import numpy as np
import pandas as pd
import scipy as scp
import sklearn as sk
import matplotlib.pyplot as plt
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import re
import string
import contractions

<p>Now that we're ready, let's load the data.</p>

In [129]:
newsDataset = pd.read_csv('./ArticleTitlesCategoryDataset.csv')
newsDataset.head()

                                               Title  Category Source
0  As Democrats try to hold on in November, it’s ...  Politics    CNN
1           A Dizzying week for Trump’s legal issues  Politics    CNN
2  Nancy Pelosi did what Donald Trump failed to d...  Politics    CNN
3  Donald Trump told us all *exactly* what he was...  Politics    CNN
4  See why Republicans are trying to get you to f...  Politics    CNN

<p>Alright, the dataset is loaded successfully, now let's clean the data a bit. We'll do the following: </p>
<ol>
    <li> Turn all the contraction words into proper words (don't -> do not, I'd -> I would). </li>
    <li> Remove all the punctuation from the title. </li>
    <li> Tokenize the title. </li>
</ol>

In [248]:
EnglishStopwords = set(stopwords.words('english'))

Titles = newsDataset['Title']
CleanedTitles = []
for title in Titles:
    NoContractionsTitle = contractions.fix(title)
    NoPunctuationTitle = NoContractionsTitle.translate(str.maketrans('','', string.punctuation)) 
    TokenizedTitle = word_tokenize(NoPunctuationTitle) 
    cleanTitle = []
    for word in TokenizedTitle:
        if word not in EnglishStopwords:
            cleanTitle.append(word)
    cleanTitle = " ".join(cleanTitle)
    
    CleanedTitles.append(cleanTitle)

'Nancy Pelosi Donald Trump failed January 6'

<p>Now that we've removed the stopwords from our title column, we can go on and remove all punctuation as well. </p>

In [ ]:
CleanedDataset = pd.DataFrame(columns=['CleanTitle', 'Category', 'Source'])
CleanedDataset['CleanTitle'] = CleanedTitles
CleanedDataset['Category'] = newsDataset['Category']
CleanedDataset['Source'] = newsDataset['Source']

CleanedDataset

                                           CleanTitle  Category Source
0   As Democrats try hold November, it’s Pete Butt...  Politics    CNN
1                A Dizzying week Trump’s legal issues  Politics    CNN
2         Nancy Pelosi Donald Trump failed January 6   Politics    CNN
3   Donald Trump told us *exactly* going November ...  Politics    CNN
4         See Republicans trying get focus 'wokeness'  Politics    CNN
..                                                ...       ...    ...
84        Last chance lock nearly 10% return savings   Business    CNN
85        Workers second Apple store vote join union   Business    CNN
86                  What old phones, gadgets e-waste   Business    CNN
87  Elon Musk federal investigation Twitter deal, ...  Business    CNN
88  FCC could ban new purchases Huawei ZTE telecom...  Business    CNN

[89 rows x 3 columns]

<p>Great ! We now have a clean titles dataset ! We can now proceed to the data analysis part!</p>